
.advantages {
margin: 0;
padding: 20px;
}

.advantages__list {
margin: 0;
padding: 0;
list-style-type: none;
}

.advantages__item {
  background-color: #F2F2F2;
  position: relative;
  padding: 18px 20px 14px;
  margin-bottom: 20px;
}

.advantages__item:last-child {
  margin-bottom:0;
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #68B738;
  border-radius: 50%;
}

.advantages__item::after {
  position: absolute;
  top: 22px;
left: 28px;
}

.advantages__item--slim::after {
  content: url(../../images/icons/advantages/cat-weight.svg);
width: 36px;
height: 53px;
}


.advantages__item--pro::after {
  position: absolute;
  content: url(../../images/icons/advantages/cat-strong.svg);
width: 67px;
height: 28px;
top: 34px;
left: 9px;
}

.advantages__caption {
  margin: 13px 0 29px 70px;
  overflow-wrap: break-word;
}

.advantages__description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  position: relative;

}
.advantages__description::after {
  content: "";
  position: absolute;
  top: 74px;
 left: 0;
 width: 100%;
 height: 1px;
 background-color: #D9D9D9;
 }

 .advantages__link {
  margin: 0;
  position: relative;
  margin-top: 35px;
  padding: 5px 30px 5px 0;
 text-decoration: none;
 }

 .advantages__link::after {
  position: absolute;
  content: url(../../images/icons/advantages/icon-arrow.svg);
  width: 32px;
  height: 10px;
  background-position:right center;
  top: 10px;
  left: 87px;
 }





