.title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
  font-weight: $base-font-weight;
}

.title-middle {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
  font-weight: $base-font-weight;
}

.caption {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
line-height: 37px;
color: $base-color-title;
font-weight: $base-font-weight;
text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 18px;
}

.description-small {
  font-size: 14px;
  line-height: 14px;
}

.text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $base-color-title;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #68B738;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px;
}
